.container {
    display: flex;

    .greenRange {
        background-color: green;
    }
    .redRange {
        background-color: red;
    }
    .yellowRange {
        background-color: yellow;
    }

    .hand {
        width: 1px;
        height: 120px;
        .value {
            font-size: 12px;
            text-align: center;
        }
        .pointer {
            width: 1px;
            height: 100%;
            background-color: black;
            margin: 0 auto;
            transform: rotate(-60deg + (var(--value) / (var(--gauge-max) - var(--gauge-min)) * 120deg));
        }
    }
}