data/
.vscode/
.bloop/
.bsp/
.metals/
.idea/
.boot/
.ivy/
.sbtboot/
**/target/
dist/
logs/
node_modules/
**/resources/ui
modules/ui/**/*.js
modules/ui/**/*.js.map

*.semanticdb
*.stl
*.fcstd1

*.gcode

.pio

!modules/ui/webpack.config.js
