.container {
  border: 1px solid;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.On {
    border-color: #f11;
  }
  &.Off {
    border-color: #8e8e8e;
  }

  .board {
    grid-column: 1/3;
    padding: 5px 0 0 10px
  }
  .dials {
    padding: 15px;
  }
  .buttons {
    display: grid;
    grid-row-gap: 4px;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    justify-content: center;

    .button {
      width: 100%;
      height: 25px;
      text-transform: none;
    }
  }
}