@use "../../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name ."
        "code description"
        "plist plist";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, fit-content(100%));
      border: 1px solid;
      margin: 5px;
      padding: 5px;

      @include list-mixin.itemButtons;
    }

    .code {
      grid-area: code;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      grid-area: name;
    }

    .description {
      grid-area: description;
    }

    a {
      text-decoration: none;
      color: var(--text-primary);
    }

    .plist {
      @include list-mixin.list(periphery);
      grid-area: plist;

      .peripheryItem {
        grid-template-areas:
                "key name"
                "key image";
        grid-template-columns: auto 50px;
        grid-template-rows: auto auto;
      }

      .peripheryName {
        grid-area: name;
      }

      .peripheryKey {
        grid-area: key;
        font-weight: bold;
        justify-content: space-around;
        display: flex;
        flex-direction: column;

        span:after {
          content: ":";
        }
      }

      .peripheryDescription {
        grid-area: description;
      }

      .peripheryImage {
        grid-area: image;
        width: 50px;
        height: 50px;
      }
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
