@use "../../../utils/list-mixin";

.container {
  display: grid;
  .list {
    @include list-mixin.list;

    .code {
      overflow: hidden;
        text-overflow: ellipsis;
    }
    a {
      text-decoration: none;
      color: var(--text-primary);
    }
    .plist {
      @include list-mixin.list(preriphery);

      .picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
