@use '../../../utils/variables' as *;
@use "../../../utils/list-mixin";

.form {
  display: grid;
  grid-template-areas:
    "header header ."
    "form form form"
    "list list list";
  grid-template-rows: repeat(3, fit-content(100%)) auto;
  grid-template-columns: repeat(3, fit-content(100%));

  .peripheryForm {
    grid-area: form;

    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: 75px 150px 1fr auto;
    grid-template-rows: 56px;

    .identifier {
      width: 150px;
    }

    .periphery {
      width: 150px;
    }

    .image {
      height: 100%;
    }

    .addButton {
      width: fit-content;
      height: 100%;
    }
  }

  label {
    grid-area: header;
  }

  .peripheryList {
    @include list-mixin.list;

    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-area: list;

    .item {
      grid-template-areas:
      "key name ."
      "key image image";
      grid-template-columns: auto 50px 15px;
      grid-template-rows: auto auto;

      @include list-mixin.itemButtons;
    }

    .image {
      grid-area: image;
      max-width: 100%;
    }

    .name {
      grid-area: name;
    }

    .key {
      grid-area: key;
      font-weight: bold;
      justify-content: space-around;
      display: flex;
      flex-direction: column;

      span:after {
        content: ":";
      }
    }
  }



}
