@use '../../../utils/variables' as *;

.form {
  display: grid;
  grid-gap: $grid-gap;
  .item {
    &.selected {
      background-color: lightgrey;
    }
    .name {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .line {
    display: inline-grid;
    grid-gap: $grid-gap;
    grid-template-columns: repeat(4, 1fr);

    & > div {
      grid-column: 1 / 3;
      & + div {
        grid-column: 3 / 5;
      }
    }

    button {
      grid-column: 4;
      width: fit-content;
    }
  }
  .list {
    display: grid;
  }
}
