body, html, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pi-icon {
  padding: 0;
  display: inline-flex;

  svg {
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    * {
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 0;
    }
  }
}