@import '../../style/variables';
@import '../../style/mixins';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .title {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px 5px;
    background-color: rgba($gray-color, 0.5);
  }

  .content {
    @include scrollable-y;

    .description {

      padding: 3px 4px;

      display: grid;
      grid-template-columns: max-content auto;
      width: 100%;
      box-sizing: border-box;

      $border: 1px solid $border-color;
      .label {
        border-right: $border;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-weight: 600;
        color: $gray-color;
      }
      .value, .label {
        padding: 3px;
        border-bottom: $border;

        &:first-child, &:nth-child(2) {
          border-top: $border;
        }
      }
    }
  }
}