@import '../../style/variables';

.errors {
  display: grid;
  grid-row-gap: 5px;
  grid-auto-flow: row;
  padding: 0 5px;

  .error {
    color: #ff2222;
  }
}

.edgeConnections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  padding: 5px;

  .connDescription {
    width: 100%;
    overflow: hidden;

    .name {
      font-weight: 600;
      color: rgba($gray-color, 0.8);
    }

  }
}
.connName {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  padding: 5px;

  & > .name {
    flex: 1 1 auto;
    display: block;
  }


  .unit {
    display: inline-grid;
    padding-left: 5px;
    flex: 1 1 auto;
    grid-auto-flow: column;
    grid-column-gap: 0;
    grid-template-columns: min-content minmax(auto, min-content) min-content;
  }
}

