@import '../../style/mixins';

.container {
  display: grid;
  grid-template-columns: var(--toolbar) 10px auto;
  $padding: 10px;
  padding: $padding;
  height: calc(100% - #{$padding});
  overflow: hidden;

  .toolbar {
    @include scrollable-y;
    grid-column: 1;

  }
  .div {
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .drag {
      cursor: ew-resize;
      @include with-icon {
        & {
          transform: translateX(-30%);
          $size: 24px;

          &, svg {
            width: $size;
            height: $size;
          }
        }
      }
    }
  }
  .workspace {
    grid-column: 3;
  }
}