@import '../../style/variables';

.container {

  .panel {
    height: 100%;
    position: relative;
  }

  .connections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba($gray-color, 0.1);

    .name, .unit {
      border: 1px solid $border-color;
      padding: 3px;
    }
    .name {
      flex-direction: column;
      justify-content: space-around;
      display: flex;
      &:not(:first-child) {
        border-top: none;
      }
    }
    .unit {
      border-left: none;
      &:not(:nth-child(2)) {
        border-top: none;
      }
    }
  }
}