@import '../../style/variables';

.container {

  .panel {
    height: 100%;
    position: relative;
  }

  .connections {
    display: grid;
    grid-template-columns: max-content auto;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba($gray-color, 0.1);

    .name, .unit {
      border: 1px solid $border-color;
      padding: 3px;
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-around;
      display: flex;
      box-sizing: border-box;
    }
    .name {
      font-weight: 600;
      opacity: 0.6;
      &:not(:first-child) {
        border-top: none;
      }
    }
    .unit {
      border-left: none;
      &:not(:nth-child(2)) {
        border-top: none;
      }
    }
  }


}