@use "utils/mixins";
.container {
  @include mixins.vertical-grid(2);

  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;

  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
