@use '../utils/variables' as *;

@mixin form {
  min-width: 400px;
  display: grid;
  grid-gap: $grid-gap;
  position: relative;
  justify-content: center;
}

@mixin form-children {
  .save {
    grid-area: save;
    max-width: fit-content;
  }
  .cancel {
    grid-area: cancel;
    max-width: fit-content;
  }
  .name {
    grid-area: name;
  }
  .description {
    grid-area: description;
  }
  h3 {
    grid-area: header;
  }
}

.agree {
  --font-color: green;
}
.disagree {
  --font-color: red;
}
