.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 200px;
  max-width: 30%;
  max-height: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .title {
    font-size: 1.2rem;
  }

  .body {
    overflow: auto;
  }
}
