@use "./mixins";

.container nav {
  @include mixins.horizontal-grid(4);
  padding: 10px;

  .link {
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    text-decoration: none;
    box-shadow:
      var(--color-primary-a16) 0px 8px 6px,
      var(--color-primary-a23) 0px 8px 6px;

    &.disabled {
      background-color: transparent;
      cursor: default;
      color: black;
      border: 0.1em solid var(--color-primary);
      box-shadow:
        var(--color-primary-a12) 0px 1px 3px,
        var(--color-primary-a24) 0px 1px 2px;
    }
  }
}
