.text {
  overflow: hidden;
  white-space: nowrap;
}

.overflow {
  cursor: pointer;
}

.textContainer {
  max-height: 120px;
  overflow: auto;
  display: inline-block;

  .fullText {
    white-space: pre-wrap;
    padding: 4px 8px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
  }
}
