@use "../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) auto;

  .list {
    @include list-mixin.list;

    .item {
      width: fit-content;
      height: fit-content;
      border: 0.1em solid #ccc;
      padding: 15px;
      cursor: pointer;
    }

    .name {
      flex: 1;
    }
  }
}
