@use "../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name ."
        "code description"
        "plist plist";
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, fit-content(100%));
      border: 1px solid;
      margin: 5px;
      padding: 5px;
      overflow: hidden;

      @include list-mixin.itemButtons;
    }

    .code {
      grid-area: code;
      overflow: hidden;
      text-overflow: ellipsis;
      height: fit-content;
    }

    .name {
      height: fit-content;
      grid-area: name;
    }

    .description {
      grid-area: description;
      height: fit-content;
    }

    a {
      text-decoration: none;
      color: var(--text-primary);
    }

    .plist {
      grid-area: plist;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
