@use "../../utils/list-mixin";

.container {
  @include list-mixin.pageContainer;

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name"
        "plist"
        "plist"
        "description"
        "code"
        ;

      grid-template-rows: minmax(46px, auto) auto auto auto;

      @include list-mixin.itemButtons;
    }

    .code {
      @include list-mixin.textSecondary;
      grid-area: code;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      @include list-mixin.itemName;
      grid-area: name;
    }

    .description {
      @include list-mixin.textSecondary;
      grid-area: description;
    }

    a {
      text-decoration: none;
      color: var(--text-primary);
    }

    .plist {
      @include list-mixin.nestedList;
      grid-area: plist;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
