@use "../../utils/list-mixin";
@use "../../utils/variables";
@use "sass:math";

.container {
  @include list-mixin.list(periphery, false);
  justify-content: center;
  width: fit-content;
  justify-items: center;
  width: fit-content;
  max-width: 100%;
  grid-template-columns: repeat(4, max-content);


  .peripheryItem {
    grid-template-areas:
                "key name"
                "image image";
    grid-template-columns: minmax(auto, fit-content) minmax(auto, fit-content);
    grid-template-rows: auto auto;
    grid-gap: variables.$grid-gap;
    padding: math.div(variables.$grid-gap, 2);
    width: fit-content;
    height: fit-content;
  }

  .peripheryName {
    grid-area: name;
  }

  .peripheryKey {
    grid-area: key;
    font-weight: bold;

    span:after {
      content: ":";
    }
  }

  .peripheryDescription {
    grid-area: description;
  }

  .peripheryImage {
    grid-area: image;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
    }
  }
}
