@use "../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name description"
        "typeName typeDescription"
        "plist plist";

      @include list-mixin.itemButtons;
    }

    .name {
      grid-area: name;
    }
    .description {
      grid-area: description;
      font-weight: lighter;
      opacity: 0.7;
    }
    .typeName {
      grid-area: typeName;
    }
    .typeDescription {
      grid-area: typeDescription;
      font-weight: lighter;
      opacity: 0.7;
    }
    .plist {
      grid-area: plist;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
