@use "../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "id name name"
        "description plist plist"
        "description plist plist";

      @include list-mixin.itemButtons;
    }

    .name {
      grid-area: name;
    }
    .description {
      grid-area: description;
    }
    .id {
      grid-area: id;
    }
    .plist {
      grid-area: plist;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
