@use "../../utils/list-mixin";

.container {
  @include list-mixin.pageContainer;

  .list {

    .item {
      grid-template-areas:
        "name typeName"
        "plist plist"
        "description description"
        "typeDescription typeDescription"
    ;

      grid-template-rows: minmax(46px,auto) auto auto;

      @include list-mixin.itemButtons;
    }

    .name {
      @include list-mixin.itemName;
      grid-area: name;
    }
    .description {
      @include list-mixin.textSecondary;
      grid-area: description;
    }
    .typeName {
      height: fit-content;
      grid-area: typeName;
      color: var(--text-primary);
      padding-top: 8px;
    }
    .typeDescription {
      @include list-mixin.textSecondary;
      grid-area: typeDescription;
    }
    .plist {
      @include list-mixin.nestedList;
      grid-area: plist;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
