@use '../form-mixin.scss';

.container {
  @include form-mixin.form;
  .direction {
    &.in {
      color: green;
    }
    &.out {
      color: red;
    }
    &.both {
      color: orange;
    }
  }
    .units {
        font-size: 0.8rem;
        color: var(--text-secondary);
    }
  .picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}
