@use "../../../utils/list-mixin";

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);

  .list {
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name unit direction"
        "description image image"
        "description image image";
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      border: 1px solid;
      margin: 5px;

      @include list-mixin.itemButtons;

    }

    .description {
      grid-area: description;
    }

    .direction {
      grid-area: direction;

      &.in {
        color: green;
      }

      &.out {
        color: red;
      }

      &.both {
        color: orange;
      }
    }

    .name {
      grid-area: name;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--text-primary);
    }

    img {
      grid-area: image;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .units {
      grid-area: unit;
      font-size: 0.8rem;
      color: var(--text-secondary);
    }

    .edit {
      grid-area: edit;
    }
  }

  .add {
    display: grid;
    width: fit-content;
  }
}
