@use "../../../utils/list-mixin";

.container {
  display: grid;
  .list {
    @include list-mixin.list;

    .direction {
      &.in {
        color: green;
      }
      &.out {
        color: red;
      }
      &.both {
        color: orange;
      }
    }

    .units {
      font-size: 0.8rem;
      color: var(--text-secondary);
    }
  }
}
