@use '../../utils/list-mixin.scss' as *;
@use '../../utils/variables.scss' as *;

.newEntityConnections {
  grid-area: connections;
  display: inline-grid;
  grid-template-columns: 100%;
  
}
.direction {

  &.in {
    color: green;
  }
  &.out {
    color: red;
  }
  &.both {
    color: orange;
  }
}
.listContainer{
  @include list('connection-');
  grid-template-areas: "direction name units type buttons";
  grid-template-columns: repeat(4, max-content) min-content;
  
  .units {
    font-size: 0.8rem;
    color: var(--text-secondary);
  }
  .type {
  }
  &.editable .buttons {
    grid-template-columns: min-content min-content;
    display: inline-grid;
    cursor: pointer;
  }
  .name {
  }


}

.form {
  display: inline-grid;
  grid-template-columns: 32px 2fr 1fr 1fr auto;
  grid-template-areas: unset;
  gap: $grid-gap;
  margin-bottom: $grid-gap;
  align-items: end;

  .formButtons {
    display: inline-grid;
    grid-template-columns: min-content min-content;
    height: fit-content;
    .saveButton, .cancelButton {
      cursor: pointer;
    }
  }

  .name {
  }
  .direction {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
  .units {
      font-size: 0.8rem;
      color: var(--text-secondary);
  }
  .type {
  }
}