@use '../../utils/list-mixin.scss' as *;
@use '../../utils/variables.scss' as *;

.newEntityConnections {
  grid-area: connections;
  display: inline-grid;
  grid-template-columns: 100%;
  
}
.direction {
  height: 18px;
  align-self: center;

  &.in {
    color: green;
  }
  &.out {
    color: red;
  }
  &.both {
    color: orange;
  }
}
.listContainer{
  @include list('connection-');
  grid-template-areas: "direction name units type buttons";
  grid-template-columns: repeat(4, max-content) min-content;
  
  .name, .units, .type {
    font-size: 0.8rem;
    color: var(--text-secondary);
    justify-self: self-start;
    height: fit-content;
    align-self: center;
  }
  &.editable .buttons {
    grid-template-columns: min-content min-content;
    display: inline-grid;
    height: 18px;
    align-self: center;
    .deleteButton, .editButton {
      cursor: pointer;
      height: 18px;
    }
  }
}

.form {
  display: inline-grid;
  grid-template-columns: 32px 128px 64px 64px auto;
  grid-template-areas: unset;
  gap: $grid-gap;
  margin-bottom: $grid-gap;
  align-items: end;
  height: 18px;


  .direction div, .name, .units, .type {
    font-size: 0.8rem;
  }

  .direction div[role="combobox"] {
    padding-bottom: 4px;
    height: 18px;
  }

  .formButtons {
    display: inline-grid;
    grid-template-columns: min-content min-content;
    height: fit-content;
    .saveButton, .cancelButton {
      cursor: pointer;
    }
  }


  .direction {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
  .name, .units, .type {
    font-size: 0.8rem;
    color: var(--text-secondary);
  }
}