@use '../form-mixin.scss';

.container {
  @include form-mixin.form;
  grid-template-areas:
    "header header"
    "save cancel"
    "name name"
    "connections connections"
    "description image";
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-rows: repeat(5, auto);

  @include form-mixin.form-children;

  .cancel {
    position: absolute;
    right: 0;
  }

  .image {
    grid-area: image;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    position: relative;

    .imageButton {
      top: 0;
    }
  }

}
