@use "../../utils/list-mixin";
@use "../../utils/variables";

.container {
  @include list-mixin.pageContainer;
  grid-template-areas:
    "header"
    "buttons"
    "list";
  position: relative;

  .buttons {
    display: grid;
    grid-template-areas: "import add";
    grid-template-columns: fit-content(100%) auto;
    grid-gap: variables.$grid-gap;
  .add {
    display: grid;
    width: fit-content;
    grid-area: add;
  }

  .import {
    grid-area: import;
  }
}
  .header {
    grid-area: header;
  }

  .list {
    grid-area: list;
    @include list-mixin.list;

    .item {
      grid-template-areas:
        "name  name"
        "image connections"
        "image description"
        ;
      grid-template-columns: minmax(80px, max-content) auto;
      grid-template-rows: minmax(46px,auto) fit-content(100%) auto;

      @include list-mixin.itemButtons;

    }

    .description {
      @include list-mixin.textSecondary;
      grid-area: description;
    }

    .connections {
      grid-area: connections;
      height: fit-content;
    }

    .name {
      @include list-mixin.itemName;
      grid-area: name;
    }
    .image {
      grid-area: image;
      min-width: 80px;
      max-height: 120px;
      width: 100%;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: contain;
        align-self: stretch;
      }
    }
  }

}
