

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-flow: column;
    height: 100%;

    .boards {
      display: flex;

    }
    .logs {

      display: flex;
      flex: 1;
    }

  }
}