<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/style.scss">
        <script type="application/javascript">
            window.environment = '{{env}}';
            window.serverPort = {{port}};
        </script>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
